<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button class="btn btn-link" [routerLink]="['/']">На главную</button>
  </div>
  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2012</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis excepturi itaque molestiae officiis sed? Accusamus aperiam architecto, dicta ex facilis ipsum iusto, nihil nulla quam reiciendis saepe unde vel voluptate voluptatibus, voluptatum. Adipisci, aperiam deserunt dolorem facilis hic illum, iste laboriosam non odio pariatur perspiciatis quaerat quidem quis reprehenderit velit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis excepturi itaque molestiae officiis sed? Accusamus aperiam architecto, dicta ex facilis ipsum iusto, nihil nulla quam reiciendis saepe unde vel voluptate voluptatibus, voluptatum. Adipisci, aperiam deserunt dolorem facilis hic illum, iste laboriosam non odio pariatur perspiciatis quaerat quidem quis reprehenderit velit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis excepturi itaque molestiae officiis sed? Accusamus aperiam architecto, dicta ex facilis ipsum iusto, nihil nulla quam reiciendis saepe unde vel voluptate voluptatibus, voluptatum. Adipisci, aperiam deserunt dolorem facilis hic illum, iste laboriosam non odio pariatur perspiciatis quaerat quidem quis reprehenderit velit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis excepturi itaque molestiae officiis sed? Accusamus aperiam architecto, dicta ex facilis ipsum iusto, nihil nulla quam reiciendis saepe unde vel voluptate voluptatibus, voluptatum. Adipisci, aperiam deserunt dolorem facilis hic illum, iste laboriosam non odio pariatur perspiciatis quaerat quidem quis reprehenderit velit!</p>
  </div>
</div>
